*{
	margin: 0 auto;
	padding: 0 auto;
}
a{
	text-decoration: none; /* 去除链接的下划线 */
	color: #00ffff;;
}
body{
	font-family: "微软雅黑", sans-serif; /* 设置字体 */
    background-image: url(./img/IMG_0476.jpeg);
	width: 100%;
    height: 100%;
    background-size: cover; /* 设置背景图片覆盖整个页面 */
    background-attachment: fixed; /* 设置背景图片固定 */
    background-position: center; /* 设置背景图片居中 */
    background-repeat: no-repeat; /* 设置背景图片不重复 */
    background-color: #f2f2f2; /* 设置背景颜色 */
}